<div class="tarjeta-seguimiento" [class.expandida]="vistaExpandida">
  
  <!-- Botón para abrir el buscador - Container Button -->
        <bmb-container-button 
          [title]="'Realizar búsqueda de estudiante'" 
          [iconLeft]="''" 
          [iconRight]="'chevron_right'" 
          [alternative]="false"
          (onButton)="expandirVista()">
        </bmb-container-button>

        <app-list-groups 
          [gruposMentoria]="listCourses()" 
          [title]="'Mis grupos de mentoría'">
        </app-list-groups>
  <!-- </ng-container> -->

  
</div>